@import "tailwindcss";

@theme {
    --color-text: #fff;
    --color-error: #ff6467;
    --color-success: oklch(72.3% 0.219 149.579);
    --color-primary: var(--color-fuchsia-700);
    --color-primary-light: var(--color-fuchsia-500);
    --color-primary-dark: var(--color-fuchsia-900);
    --color-background: var(--color-neutral-900);
    --color-background-light: var(--color-neutral-800);

    
}


/* [&::-webkit-scrollbar]:w-1.5 [&::-webkit-scrollbar-thumb]:h-8 [&::-webkit-scrollbar-thumb]:cursor-grab [&::-webkit-scrollbar-thumb]:bg-fuchsia-700 [&::-webkit-scrollbar-thumb]:rounded-2xl */


::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    height: 32px;
    cursor: grab;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary-dark);
}